C:/Users/ryan/.secrets
.bash_history
.conda/
.condarc
.continuum/
.gitconfig
.gitignore
.git-for-windows-updater
.ipynb_checkpoints/
.ipython/
.jupyter/
.lesshst
.matplotlib/
.pdfbox.cache
.pydataset/
.spyder-py3/
.ssh/
.venv/
.vscode/
3D Objects/
AppData/
Contacts/
Desktop/
Documents/
Downloads/
Favorites/
Links/
apachehttpd.exe
Heaven/
Jedi/
Music/
env
NTUSER.DAT
NTUSER.DAT{a2332f18-cdbf-11ec-8680-002248483d79}.TM.blf
NTUSER.DAT{a2332f18-cdbf-11ec-8680-002248483d79}.TMContainer00000000000000000001.regtrans-ms
NTUSER.DAT{a2332f18-cdbf-11ec-8680-002248483d79}.TMContainer00000000000000000002.regtrans-ms
OneDrive/
Pictures/
PycharmProjects/
Saved Games/
Searches/
Spitfire/
Untitled.ipynb
Videos/
VirtualBox VMs/
anaconda/
anaconda3/
calculator.py
complete_python_bootcamp.py
complex_systems_prologue.py
cs50.py
cs50_day1.ipnyb.py
cs50_day1.ipynb
cs50_day1.py
demo.py
demo_1.py
dremo_1.py
edb_languagepack.exe
edb_languagepack_2.exe
edb_mtk.exe
edb_npgsql.exe
edb_pem_agent.exe
edb_pem_server.exe
edb_pem_sqlprofiler_pg14.exe
edb_pgagent_pg14.exe
edb_pgbouncer.exe
edb_pgjdbc.exe
edb_psqlodbc.exe
edb_psqlodbc.exe-20220104003358
edb_xdb_7.exe
essential_math_data_science.ipynb
ms_intro_to_python.py
new_plot.png
new_trial.py
ntuser.dat.LOG1
ntuser.dat.LOG2
ntuser.ini
postgis_3_1_pg14.exe
postgresql_14.exe
python_folder_demo
python_virt_folder
setting_up_virtual_script_pip_seaborn_dataframes.py
virtual_environ_instructions.py
workspace.code-workspace
.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
